@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.card {
  background-color: $color-grey;
  @include flexColumnCenter;
  color: $color-main;
  font-family: $font-main;

  &__link {
    text-decoration: none;
  }

  &__text {
    height: 0.5rem;

    &--title {
      text-decoration: underline;
    }

    &--author {
      position: relative;
      top: -0.5rem;
    }
  }
}
