@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.home-page {
  margin-top: 2rem;
  @include flexColumnCenter;
  font-family: $font-main;
  color: $color-main;

  &__top {
    width: 75%;
    @include flexColumnCenter;
  }

  &__search-bar {
    height: 2rem;
    width: 20rem;
  }

  &__subheading {
    width: 90vw;
  }
}
