@use "../../assets/sass/variables" as *;

.header {
    background-color: $color-main;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    top: 0;
    &__name {
        margin-left: 0.5rem;
        padding: 0.4rem;
        color: $color-white;
    }
}