@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.courses {
  margin-top: 2rem;
  @include flexColumnCenter;

  &__top {
    width: 75%;
    @include flexColumnCenter;
  }

  &__title {
    color: $color-main;
  }

  &__search-bar {
    height: 2rem;
    width: 20rem;
  }
}
